@charset "UTF-8";
.content_object {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll; }
  @media only screen and (max-width: 600px) {
    .content_object {
      padding: 10px; } }
  .content_object[sectionId="welcome"] .section_data span.title {
    color: #eee; }
    .content_object[sectionId="welcome"] .section_data span.title.welcome {
      font-family: Oxygen, serif;
      font-size: 1.7rem;
      letter-spacing: 5px; }
    .content_object[sectionId="welcome"] .section_data span.title.name {
      color: #ddd;
      font-size: 4rem;
      letter-spacing: 3px; }
      .content_object[sectionId="welcome"] .section_data span.title.name .nickname {
        font-weight: 600;
        color: #07d1e0; }
  .content_object[sectionId="welcome"] .section_data .typed-cursor {
    opacity: 0; }
  .content_object[sectionId="about_me"] .my_image_wrapper {
    padding: 0;
    border: 2px #009199 dashed;
    border-radius: 1000px;
    opacity: 0.5; }
    .content_object[sectionId="about_me"] .my_image_wrapper img {
      width: 100%; }
  .content_object[sectionId="about_me"] .about_me_table_wrapper .about_me_table {
    color: #eee; }
    .content_object[sectionId="about_me"] .about_me_table_wrapper .about_me_table td {
      padding: 15px 20px;
      border: 1px rgba(0, 0, 0, 0.2) solid; }
    .content_object[sectionId="about_me"] .about_me_table_wrapper .about_me_table td.field {
      background-color: rgba(1, 130, 145, 0.8);
      font-weight: 600;
      font-size: 1.1rem;
      width: 30%; }
    .content_object[sectionId="about_me"] .about_me_table_wrapper .about_me_table td.value {
      font-family: Oxygen, serif;
      background-color: rgba(40, 40, 40, 0.6); }
  .content_object[sectionId="skills"] .skills_wrapper {
    background-color: rgba(10, 10, 10, 0.4);
    padding: 30px 10px; }
    .content_object[sectionId="skills"] .skills_wrapper .skillset-name-wrapper {
      margin-left: 14px;
      margin-bottom: 36px; }
      .content_object[sectionId="skills"] .skills_wrapper .skillset-name-wrapper .skillset-name {
        color: white;
        font-size: x-large;
        font-weight: 600; }
    .content_object[sectionId="skills"] .skills_wrapper .skill .skill_name {
      color: white;
      font-size: large;
      font-weight: 600;
      transition: all 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .content_object[sectionId="skills"] .skills_wrapper .skill .skill_experience {
      color: white;
      font-size: small;
      font-weight: 600;
      padding: 10px;
      border-radius: 3px;
      background-color: #0c9bad;
      transition: all 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .content_object[sectionId="skills"] .skills_wrapper .skill .progress.skill_level_wrapper {
      height: 5px;
      background-color: rgba(80, 80, 80, 0.6); }
      .content_object[sectionId="skills"] .skills_wrapper .skill .progress.skill_level_wrapper .skill_level {
        background-color: #0c9bad;
        transition: all 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .content_object[sectionId="projects"] .filter_wrapper {
    background-color: rgba(10, 10, 10, 0.6);
    padding: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: relative; }
    .content_object[sectionId="projects"] .filter_wrapper .filter {
      display: inline-block;
      color: white;
      padding: 12px;
      margin: 5px;
      cursor: pointer;
      background-color: rgba(5, 5, 5, 0.8);
      border-radius: 3px;
      transition: all 0.2s linear; }
      .content_object[sectionId="projects"] .filter_wrapper .filter.active {
        background-color: #0c9bad; }
      .content_object[sectionId="projects"] .filter_wrapper .filter:hover {
        background-color: rgba(240, 240, 240, 0.9);
        color: rgba(30, 30, 30, 0.9); }
  .content_object[sectionId="projects"] .projects_wrapper {
    background-color: rgba(10, 10, 10, 0.6);
    padding: 12px; }
    .content_object[sectionId="projects"] .projects_wrapper .project_item {
      padding: 20px;
      transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .content_object[sectionId="projects"] .projects_wrapper .project_item .project {
        background-color: rgba(20, 20, 20, 0.7);
        padding-left: 0;
        padding-right: 0;
        cursor: pointer;
        transition: all 0.3s linear;
        position: relative; }
        .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_image_wrapper {
          width: 100%;
          height: 200px;
          margin-bottom: 0;
          position: relative;
          background: rgba(10, 10, 10, 0.8);
          background-size: 100%; }
          .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_image_wrapper .project_image {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            transition: all 0.3s linear; }
          .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_image_wrapper .project_types_container {
            position: absolute;
            top: 5px;
            padding: 0px 5px;
            text-align: right;
            width: 100%; }
            .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_image_wrapper .project_types_container i.material-icons {
              color: white;
              background-color: rgba(10, 10, 10, 0.5);
              border-radius: 25px;
              padding: 7px;
              font-size: 18px;
              transition: all 0.2s linear; }
              .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_image_wrapper .project_types_container i.material-icons:hover {
                color: #222;
                background-color: white; }
        .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_title_wrapper {
          width: 100%;
          padding: 10px 20px;
          margin: 0 0 0 0;
          position: absolute;
          bottom: 0;
          background-color: rgba(12, 155, 173, 0.9); }
          .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_title_wrapper .project_title {
            color: #eee;
            font-size: 1.3rem;
            font-weight: 700; }
        .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_description_wrapper {
          padding: 10px 20px;
          height: 38%;
          margin: 0 0 0 0; }
          .content_object[sectionId="projects"] .projects_wrapper .project_item .project .project_description_wrapper .project_description {
            color: #eee;
            font-size: 1rem; }
        .content_object[sectionId="projects"] .projects_wrapper .project_item .project .more_details_wrapper {
          padding-right: 10px;
          padding-bottom: 10px; }
          .content_object[sectionId="projects"] .projects_wrapper .project_item .project .more_details_wrapper .more_details {
            border: 0px rgba(240, 240, 240, 0.9) solid;
            border-radius: 5px; }
        .content_object[sectionId="projects"] .projects_wrapper .project_item .project:hover {
          transform: scale(1.03, 1.03); }
        .content_object[sectionId="projects"] .projects_wrapper .project_item .project:active {
          transform: scale(0.9, 0.9); }
    .content_object[sectionId="projects"] .projects_wrapper .project_infos_container {
      display: none; }
  .content_object #project-viewer-modal {
    background-color: #222;
    color: white; }
    .content_object #project-viewer-modal .modal-footer {
      background-color: #222;
      color: white; }
  .content_object[sectionId="contact_me"] .contact_me_wrapper .contact_items_wrapper {
    position: relative;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.6); }
    .content_object[sectionId="contact_me"] .contact_me_wrapper .contact_items_wrapper .contact_item {
      display: inline-block;
      padding: 10px;
      margin: 10px 30px 10px 30px;
      color: white; }
      .content_object[sectionId="contact_me"] .contact_me_wrapper .contact_items_wrapper .contact_item.social_media {
        padding: 5px 5px;
        border-radius: 5px;
        transition: all 0.3s linear; }
        .content_object[sectionId="contact_me"] .contact_me_wrapper .contact_items_wrapper .contact_item.social_media .mdi {
          color: white;
          transition: all 0.3s linear; }
        .content_object[sectionId="contact_me"] .contact_me_wrapper .contact_items_wrapper .contact_item.social_media:hover {
          background-color: white; }
          .content_object[sectionId="contact_me"] .contact_me_wrapper .contact_items_wrapper .contact_item.social_media:hover .mdi {
            color: #222; }
  .content_object[sectionId="contact_me"] .send_message_wrapper {
    background-color: rgba(10, 10, 10, 0.7); }
    .content_object[sectionId="contact_me"] .send_message_wrapper .title {
      color: white;
      text-align: center;
      width: 100%;
      font-size: larger;
      background-color: rgba(10, 10, 10, 0.8);
      padding: 20px 12px; }
    .content_object[sectionId="contact_me"] .send_message_wrapper .send_message_content {
      padding: 12px; }
      .content_object[sectionId="contact_me"] .send_message_wrapper .send_message_content label {
        font-weight: 600; }
      .content_object[sectionId="contact_me"] .send_message_wrapper .send_message_content .input-field {
        color: white;
        transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .content_object[sectionId="contact_me"] .send_message_wrapper .send_message_content .materialize-textarea {
        color: white; }
      .content_object[sectionId="contact_me"] .send_message_wrapper .send_message_content .send_msg_btn {
        background-color: #0c9bad; }
  .content_object[sectionId="resume"] .section_data {
    padding-bottom: 0px; }
    .content_object[sectionId="resume"] .section_data .resume_wrapper .view_download {
      padding: 12px 18px;
      height: auto;
      background-color: rgba(10, 10, 10, 0.1);
      color: white;
      font-weight: 600;
      border: solid 1px white;
      transition: all 0.25s linear; }
      .content_object[sectionId="resume"] .section_data .resume_wrapper .view_download:hover {
        background-color: white;
        color: #111; }
    .content_object[sectionId="resume"] .section_data .footer {
      bottom: 0px; }
      .content_object[sectionId="resume"] .section_data .footer .info .designed_by {
        color: white;
        font-size: medium; }
      .content_object[sectionId="resume"] .section_data .footer .typed-cursor {
        opacity: 0; }
  .content_object .section_data {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px; }
    .content_object .section_data .subtitle_wrapper {
      text-align: center;
      margin-bottom: 50px; }
      .content_object .section_data .subtitle_wrapper .subtitle {
        color: #eee;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 10px 20px;
        border-bottom: 2px rgba(240, 240, 240, 0.4) solid; }
    .content_object .section_data .more_details_wrapper {
      padding-top: 20px; }
      .content_object .section_data .more_details_wrapper .more_details {
        color: rgba(240, 240, 240, 0.9);
        background-color: rgba(30, 30, 30, 0.9);
        font-weight: 700;
        padding: 10px;
        border: 1px rgba(240, 240, 240, 0.9) solid;
        cursor: pointer;
        transition: all 0.25s ease-out; }
        .content_object .section_data .more_details_wrapper .more_details:hover {
          background-color: rgba(240, 240, 240, 0.9);
          color: rgba(30, 30, 30, 0.9); }
    .content_object .section_data .footer {
      position: absolute;
      left: 0;
      bottom: 75px;
      width: 100%; }
      .content_object .section_data .footer .arrows {
        width: 60px;
        height: 72px; }
      .content_object .section_data .footer .arrows path {
        stroke: #2994D1;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; }
@keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
      .content_object .section_data .footer .arrows path.a1 {
        animation-delay: -1s;
        -webkit-animation-delay: -1s;
        /* Safari σÆî Chrome */ }
      .content_object .section_data .footer .arrows path.a2 {
        animation-delay: -0.5s;
        -webkit-animation-delay: -0.5s;
        /* Safari σÆî Chrome */ }
      .content_object .section_data .footer .arrows path.a3 {
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
        /* Safari σÆî Chrome */ }
      .content_object .section_data .footer .mousey {
        position: absolute;
        left: 50%;
        width: 3px;
        padding: 10px 15px 10px 13px;
        height: 50px;
        border: 2px solid #2994D1;
        border-radius: 25px;
        opacity: 0.5; }
        .content_object .section_data .footer .mousey .scroller {
          width: 3px;
          height: 10px;
          border-radius: 25%;
          background-color: #2994D1;
          animation-name: scroll;
          animation-duration: 2.2s;
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-iteration-count: infinite; }
@keyframes scroll {
  0% {
    transform: translateY(-10px);
    opacity: 0; }
  30% {
    transform: translateY(0px);
    opacity: 0.5; }
  100% {
    transform: translateY(10px);
    opacity: 1; } }
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 0px; }

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0px; }

::-webkit-scrollbar-track {
  width: 3px;
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 0px;
  background-color: rgba(1, 130, 145, 0.8);
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.8); }

::-webkit-scrollbar-corner {
  background-color: #000;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); }

/*

@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
        -moz-appearance: none ;
        background: rgb(0,255,0) ;
    }
    thumb,scrollbarbutton {
        -moz-appearance: none ;
        background-color: rgb(0,0,255) ;
    }

    thumb:hover,scrollbarbutton:hover {
        -moz-appearance: none;
        background-color: rgb(255,0,0) ;
    }

    scrollbarbutton {
        display: none;
    }

    scrollbar[orient="vertical"] {
        min-width: 15px ;
    }
}*/

/*# sourceMappingURL=main.css.map */
